* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header {
  background-color: rgb(209, 199, 199);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.header nav {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}
.header nav a {
  padding: 20px 10px;
}
.header nav a:hover {
  background-color: rgb(192, 180, 180);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-artist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .artist-selection {
  display: flex;
}
main .artist-selection .artist-selection-list {
  border: 1px solid rgb(194, 188, 188);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
main .data-display {
  /* border: 1px solid; */
}